.name-input, .email-input, .date-input, .location-input {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    
}

.booking-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;

}

.book-btn {
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.booking-info {
    display: flex;
    margin: 30px 50px;
    flex-direction:column;
    align-items: center;
    width: 30%;
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 10px;
}
.not-booked{
    color: #f46363;
    margin: 40px 20px;

}
.hide-btn{
    border-radius: 50%;
    color: #68dd3a;
    border: none;
    width: 70px;
    height: 70px;
    cursor: pointer;
}