.cointain-caddie {
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0 0 40px 0;
  box-sizing: border-box;
  display: block;
  background: #fff;
  margin-top: 30px;
}

.input-caddie {
  grid-column: 1 / -1; 
  margin-top: 20px; 
}


.caddie-search {
  border-radius: 50px;
  border: 1px solid #ccc;
  width: 75%; 
  height: 40px;
    padding-left: 30px; 
  margin-bottom: 30px;
}

.caddie-search::placeholder {
  color: #666;
  opacity: 0.8;
    margin-left: 25%;
}

.caddie-record {
  display: grid;
  border-radius: 5px;
  border: 1px solid green;
  height: 420px;
  background-color: #fff;
  width: 300px;
}

.caddie-record img {
  width: 50%;
  height: 150px;
}

.caddie-firstName,
.caddie-email,
.caddie-phone,
.caddie-age {
  padding: 10px 15px;
  font-size: 0.95rem;
}
.caddie-available {
  padding: 10px 15px;
  font-size: 0.95rem;
} 
.btn-rate, .btn-book {
  margin: 15px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}
.btn-rate{
  background-color: #153500;
}

.table-head{
  width: 100%;
}
